@tailwind base;
@tailwind components;
@tailwind utilities;

.dewa {
  fill-opacity: 0;
  stroke: #986a52;
  stroke-width: 0px;
  stroke-dasharray: 4500;
  animation: draw 7s ease 1.5s forwards;
  max-width: 350px;
  width: 100%;
}
.tina {
  fill-opacity: 0;
  stroke: #986a52;
  stroke-width: 0px;
  stroke-dasharray: 4500;
  width: 100%;
  max-width: 300px;
  animation: draw 10s ease forwards;
}

.dan {
  fill-opacity: 0;
  stroke: #986a52;
  stroke-width: 0px;
  stroke-dasharray: 4500;
  width: 100%;
  max-width: 300px;
  animation: draw 8s ease 1s forwards;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
    stroke-width: 0px;
  }
  10% {
    stroke-width: 1.5px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 1.5px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-purple-400;
}
::-webkit-scrollbar-thumb {
  @apply bg-white rounded-full;
}

.comment-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.comment-scrollbar::-webkit-scrollbar-track {
  @apply bg-white;
}
.comment-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-purple-400;
}

.hidden-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.hidden-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
  font-family: Playwrite BE VLG;
  src: url(/fonts/PlaywriteBEVLG-VariableFont_wght.ttf);
}

.latin-20 {
  font-weight: 300;
  font-size: 20px;
  font-family: Playwrite BE VLG;
  line-height: 1.5;
}
.latin-25 {
  font-weight: 300;
  font-size: 25px;
  font-family: Playwrite BE VLG;
  line-height: 1.5;
}
